:root {
  --color-main: #4267b2;
  --color-dark: #343a40;
  --color-light: #f4f4f4;
  --color-grey: rgb(223, 223, 223);
  --color-danger: #dc3545;
  --color-success: #28a745;
  --color-warning: #d6ba1c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--color-main);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
}

/* HOME PAGE */
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  grid-gap: 1rem;
}

.menu-secondary {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1rem;
  grid-gap: 1rem;
}

.menu-item {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.content {
  height: 90px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.title {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 22px;
  color: #4a4a4a;
}

.subtitle {
  font-weight: lighter;
  font-size: 16px;
}
