:root {
  --color-main: #d6ba1c;
  --color-dark: #343a40;
  --color-light: #f4f4f4;
  --color-grey: #ccc;
  --color-danger: #dc3545;
  --color-success: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--color-main);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
}

.small-underline {
  height: 2px;
  width: 45px;
  margin: auto;
  background: var(--color-main);
  margin-bottom: 0.5rem;
}

.big-underline {
  height: 1px;
  width: 70%;
  margin: 3.5rem auto 2rem auto;
  background: var(--color-main);
}

.text-center {
  text-align: center;
}
/* ======================================================================= */
/* HOME PAGE */
/* ======================================================================= */
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-top: 1rem;
  }

  .menu-main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    grid-gap: 1rem;
  }

  .menu-secondary {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem 0 2rem 0;
    grid-gap: 1rem;
  }
}

.menu-item {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.486);

  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.486);

    .background-img {
      transform: scale(1.1);
      transition: transform 4s ease;
    }

    .content {
      opacity: 0.9;
      border-radius: 15px;
      transition: all 1s ease;
    }
  }

  .background-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 90px;
    padding: 0 25px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-dark);
    position: absolute;

    background: var(--color-main);
    opacity: 0.8;

    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: #fff;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
      color: #000;

      &:hover {
        text-shadow: 2px 2px 4px #fff;
      }
    }
  }
}

.large-img {
  height: 380px;
}
/* ======================================================================= */
/*                      SHOP PAGE */
/* ======================================================================= */
.collection {
  display: grid;
  flex-direction: column;

  .title {
    font-size: 28px;
    margin-bottom: 1rem;
    color: var(--color-main);
    text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.2);
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
}

.collection-item {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;

  .item-image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 0.4rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }

  .item-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;

    .item-name {
      margin-bottom: 1rem;
      color: #000;
      margin-left: 0.5rem;
    }

    .item-price {
      color: #000;
      margin-right: 0.5rem;
    }
  }
}
